.image_season_autumn {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../images/image-autumn.jpg');
    background-position-x: left;
    background-position-y: top;
    width: 0%;
    height: 0%;
}